<%- include('header', {items: menu}) %>
<!-- SUBHEADER
================================================== -->
<% var section = theme[0].value%>
<div id="subheader" class="subheadertext" style="padding:50px 0px !Important;">
	<div class="row">
		<div class="twelve columns">
			<div class="noslide">
				 <h1><%=section[0].value%></h1>
				<h3><%=section[1].value%></h3>
			<div class="minipause"></div><br/>
			<a href="<%=section[3].value%>" class="clear actbutton"><%=section[2].value%></a>
			</div>
		</div>
	</div>
</div>
<!-- ANIMATED COLUMNS
================================================== -->
<% section = theme[1].value;
if(section[0].value){ %>
	<div class="row">
		<div class="twelve columns">
			<ul class="ca-menu">
				<%	let boxes = section.filter(x => x.name.includes("Box"));
					for(let i = 0; i < boxes.length; i++) {
					var box = boxes[i].value;%>
					<li>
						<a href="<%=box[3].value%>">
							<span class="ca-icon"><%=box[0].value%></span>
							<div class="ca-content">
								<h2 class="ca-main"><%=box[1].value%></h2>
								<h3 class="ca-sub"><%=box[2].value%></h3>
							</div>
						</a>
					</li>
				<%}%>
			</ul>
		</div>
	</div>
<%}%>
<!-- CONTENT
================================================== -->
<% section = theme[2].value;
if(section[0].value){ %>
<div class="row">
	<div class="twelve columns">
		<div class="centersectiontitle">
			<h4><%=section[1].value%></h4>
		</div>
	</div>
	<%	let boxes = section.filter(x => x.name.includes("Box"));
	for(let i = 0; i < boxes.length; i++) {
		var box = boxes[i].value;%>
		<div class="four columns">
			<h5><%=box[0].value%></h5>
			<p>
				<%=box[1].value%>
			</p>
			<p>
				<a href="<%=box[3].value%>" class="readmore"><%=box[2].value%></a>
			</p>
		</div>
	<%}%>
</div>
<div class="hr">
</div>
<%}%>
<!-- CLIENTS
================================================== -->
<!--<div class="row">-->
<!--	<div class="twelve columns">-->
<!--		<div class="centersectiontitle">-->
<!--			<h4>Clients</h4>-->
<!--		</div>-->
<!--	</div>-->
<!--	<div class="twelve columns">-->
<!--		<div class="image_carousel fitcarousel">-->
<!--		<div id="foo2">-->
<!--				<img src="http://placehold.it/140x140/222" alt="" width="140" height="140"/>-->
<!--				<img src="http://placehold.it/140x140/333" alt="" width="140" height="140"/>-->
<!--				<img src="http://placehold.it/140x140/222" alt="" width="140" height="140"/>-->
<!--				<img src="http://placehold.it/140x140/333" alt="" width="140" height="140"/>-->
<!--				<img src="http://placehold.it/140x140/222" alt="" width="140" height="140"/>-->
<!--				<img src="http://placehold.it/140x140/333" alt="" width="140" height="140"/>-->
<!--				<img src="http://placehold.it/140x140/222" alt="" width="140" height="140"/>-->
<!--				<img src="http://placehold.it/140x140/333" alt="" width="140" height="140"/>-->
<!--				<img src="http://placehold.it/140x140/222" alt="" width="140" height="140"/>-->
<!--				<img src="http://placehold.it/140x140/333" alt="" width="140" height="140"/>-->
<!--				<img src="http://placehold.it/140x140/222" alt="" width="140" height="140"/>-->
<!--				<img src="http://placehold.it/140x140/333" alt="" width="140" height="140"/>-->
<!--			</div>-->
<!--			<div class="clearfix">-->
<!--			</div>-->
<!--			<a class="prev" id="foo2_prev" href="#"><span>prev</span></a>-->
<!--			<a class="next" id="foo2_next" href="#"><span>next</span></a>-->
<!--		</div>-->
<!--	</div>-->
<!--</div>-->

<!-- TESTIMONIALS
================================================== -->
<% section = theme[3].value;
if(section[0].value){ %>
<div class="row">
	<div class="twelve columns">
		<div class="centersectiontitle">
			<h4><%=section[1].value%></h4>
		</div>
	</div>
	<div class="twelve columns">
		<div id="testimonials">
			<%	let boxes = section.filter(x => x.name.includes("Box"));
			for(let i = 0; i < boxes.length; i++) {
				var box = boxes[i].value;%>
			<blockquote>
				<p>
					 "<%=box[0].value%>" <cite>&ndash;<%=box[1].value%> - <%=box[2].value%></cite>
				</p>
			</blockquote>
			<%}%>
		</div>
		<!--end testimonials-->
	</div>
</div>
<%}%>


<%- include('footer') %>
